# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Firebase — do not commit real config
lib/firebase_options.dart

# Misc
*.iml
*.log
.DS_Store
